* {
    padding: 0;
    margin: 0;
}

html {
    height: 100%;
    background-color: #141414;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    width: 100%;
    height: 100%;

    padding-top: 5rem;
}

a:hover {
    color: #fafafaaf; 
    transition: 200ms;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    box-sizing: border-box;
    padding-left: 4rem;

    width: 100%;
    height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap: 4rem;

    background: linear-gradient(#141414 30%,transparent);
}

.ñetflix-logo {
    height: 80%;
}

.tabbed-primary-nav {
    width: 100%;
    height: 100%;

    padding-left: 2rem ;

    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap: 2rem;

    background-color: transparent;

    font-family: 'Calibri';
    font-size: 1.1rem;
    color: #fafafa;
}

.tabbed-primary-nav li {
    list-style-type: none;
}

.secondary-nav {
    width: 100%;
    height: 100%;

    padding-left: 2rem ; padding-right: 2rem;

    display: flex;
    flex-direction: row;
    justify-content:end;
    align-items: center;
    gap: 1rem;

    background-color: transparent;
    transition: 500ms;
}

.search-container {
    position: relative;

    height: 2.5rem;
    width: 2.5rem;

    border-radius: 1.25rem;
    background-color: #14141488;
    transition: 500ms;
    overflow: hidden;

    cursor: pointer;
}

.search-container .search-icon {
    position: absolute;
    top: 0;
    left: 0;

    width: 2.5rem;
    aspect-ratio: 1/1;

    border-radius: 1.25rem;
    background-color: #14141488;

    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container .search-icon::before {
    content: '';
    
    position: absolute;

    width: 0.8rem;
    aspect-ratio: 1/1;

    border-radius: 50%;
    border: 2px solid #fafafa;

    transform: translate(-4px,-4px);
}

.search-container .search-icon::after {
    content: '';
    
    position: absolute;

    width: 4px;
    height: 10px;

    background-color: #fafafa;
    transform: translate(6px,6px) rotate(315deg);
}

.search-container.active {
    width: 360px;
}

.search-container .search-input {
    position: relative;
    left: 2.5rem;

    width: 300px;
    height: 2.5rem;

    display: flex;
    justify-content: center;
    align-items: center ;
}

.search-container .search-input input {
    box-sizing: border-box;

    position: absolute;
    top: 0;
    left: 0;

    padding: 0 0.5rem;

    width: 100%;
    height: 100%;
    
    border: 1px solid transparent;
    outline: none;

    background-color: #1b1b1b;
    
    color: #fafafa;
    font-size: 16px;
}

.search-container .search-input input:focus {
    border: 1px solid #fafafa;
}

.nav-btn {
    box-sizing: border-box;
    padding: 0.2rem;

    height: 50%;
    aspect-ratio: 1/1;

    background-color: transparent;
    border-radius: 50%;
    border: none;

    font-size: 1.2rem;
    justify-content:end;
    align-items: center;
}

.nav-btn:hover {
    padding: 0;

    transition: 200ms;
    background-color: #FAFAFA20;
}

#btn-profile {
    height: 70%;
}

#btn-profile:hover {
    border-radius: 0;
    transition: 50ms;
    border: 2px solid #FAFAFA;
}

.pfp-btn { 
    height: 100%;
}

main {
    height: 100%;
}

.preview-container {
    width: 100%;
    height: 40rem;

    background-image: 
        linear-gradient(to bottom, #141414, rgba(0, 0, 0, 0) 50%, #141414),
        url('../../static/images/normal-image.jpeg');
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
}

.content-container {
    box-sizing: border-box;
    width: 35%;
    min-width: 35%;

    padding-left: 4rem;
    padding-bottom: 4rem;
    
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: start;
    gap: 2rem;


    color: #FAFAFA;
    font-size: 1.3rem;
    font-family: 'Calibri';
}

.content-title {
    line-height: 0.8;
    font-size: 6rem;
}

.action-container { 
    box-sizing: border-box;
    width: 100%;
    height: 4rem;

    padding: 0.5rem;
    
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 1rem;

    font-family: 'Calibri';
}

.action-container button {
    width: 100%;
    height: 100%;

    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-radius: 0.4rem;

    transition: 200ms;
}

.action-container button:hover {
    background-color: #FAFAFA88;
}

.primary-action-button {
    background-color: #FAFAFA;
}

.secondary-action-button { 
    color: #FAFAFA;
    background-color: #FAFAFA44;
}

.carousel-lbl { 
    color: #FAFAFA;
    font-family: 'Calibri';
    font-size: 2rem;
    padding-left: 1rem;
}

.carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease;
}

.carousel-item {
    min-width: 20%;
    box-sizing: border-box;
    padding: 10px;
}

.carousel-item img {
    width: 100%;
    border-radius: 10px;
}

.carousel-nav {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    font-size: 2rem;
    padding: 10px;
    cursor: pointer;
}

.prev {
    z-index: 100;
    background-color: #14141488;
    left: 10px;
}

.next {
    z-index: 100;
    right: 10px;
}