<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My List</title>
    <link rel="stylesheet" href="style.css">
    <script defer src="app.js"></script>
</head>
<body>
    <div class="main-container">
        <header class="main-header">
            <img class="ñetflix-logo" src="../../static/images/logo.png" alt="logo"> 
            <a class="go-back" href="../main-page/main-page.html"><</a>
            <h2>Mi Lista</h2>
        </header>
        <div class="draggable">
            <div class="tree-container">
                <div class="tree" id="tree"></div>
            </div>
        </div>
    </div>
</body>
</html>