html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    cursor: grab;
    background: radial-gradient(#221F1F, #141414 85%);
}

* {
    font-family: 'Calibri';
    user-select: none;
}

.main-container {
    width: 100%;
    height: 100%;
}

.main-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;

    box-sizing: border-box;
    padding-left: 4rem;

    width: 100%;
    height: 5rem;

    display: flex;
    flex-direction: row;
    justify-content:start;
    align-items: center;
    gap: 1rem;

    color: #fafafa;
    background: linear-gradient(#101010 30%,transparent);
}

.go-back {
    text-decoration: none;

    height: 40%;
    aspect-ratio: 1;

    border: none;
    border-radius: 50%;

    background-color: transparent;

    font-size: 2rem;
    text-align: center;
    line-height:100%;
    color: #fafafa;
}

.go-back:hover {
    transition: 200ms ease-in;
    background-color: #FAFAFA44;
}


.ñetflix-logo {
    margin-right: 2rem;
    height: 4rem;
}

.draggable {
    position: relative;

    width: 100%;
    height: 100%;
}

.tree-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.tree {
    /*margin-top: */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.node {
    margin: 0 2rem;
    position: relative;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.node__children {
    padding: 2rem;

    display: flex;
    flex-direction: row;

    border-top: 2px solid #bbbbbb15;
}

.node__vertical-border { 
    height: 2rem;
    width: 2px;
    background-color: #bbbbbb15;
}

.node.node--left {
    margin-right: 4rem;
    width: max-content;
}

.node.node--right {
    margin-left: 4rem;
    width: max-content;
}

.node__element {
    padding: 0.5rem 1rem;

    min-width: 4rem;
    height: 2.5rem;

    border-radius: 1.5rem ;
    border: 2px solid transparent;
    

    background: linear-gradient(#292727, #181717);

    color: #BBB;
    font-weight: bold;
    font-size: 1rem;
    line-height: 2.5rem;
    text-align: center;
}

.node__element:hover {
    border: 2px solid #602a2d;
    cursor: default;

}

.node__element:hover ~ .node__children .node__element::before {
    width: 3px;
    background-color: #602a2d;
}

.node__element:hover ~ .node__children,
.node__element:hover ~ .node__children .node__children {
    border-top: 2px solid #602a2d;
}

.node__element:hover ~ .node__vertical-border,
.node__element:hover ~ .node__children .node__vertical-border {
    background-color: #602a2d;
}


.node:not(.node--root) .node__element::before {
    content: '';
    display: block;

    position: absolute;
    left: 0; right: 0; top: -2rem;
    margin: auto;

    width: 2px;
    height: 2rem;

    background-color: #bbbbbb15;
}

.node__element, .node__element::before, .node__children, .node__vertical-border {
    transition: 250ms ease-in;
}

